p{color:plum;
font-family:Arial;
}
h1{
color: burlywood;
font-family: Impact;
}
/*clase*/
.negro {
color: black;
} 
.negro:hover {
    color: rgb(91, 29, 68);
}
/*ID tiene prioridad sobre las clases*/
#verde { 
    color:green; 
    font-family:Arial;
}
.cuadrado{
    background-color: palevioletred;
    height: 200px;
    width: 200px;
    padding: 10px;
    border:dotted 5px rgb(162, 98, 14);
    margin: 25px;
} 
.cuadrado:hover {
    background: rgb(92, 14, 40);
} 

body {
    background-color: rgb(223, 220, 214);
}